﻿@model IEnumerable<ArtkelWwf.Models.image>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table>
    <tr>
        <td>ImageID</td>
        <td>Tittle</td>
        <td>Artkel</td>
        <td>ImagePath</td>
    </tr>

    @foreach (images  in @Model)
    {

        <tr>
            <td>ImageID</td>
            <td>Tittle</td>
            <td>Artkel</td>
            <td>ImagePath</td>
        </tr>
    }

</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ImageID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
