﻿@model IEnumerable<ArtkelWwf.Models.image>

@{
    ViewBag.Title = "Artikel List";
}

<h2>List Artikel</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tittle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Artkel)
        </th>
        <th>
          
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tittle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Artkel)
        </td>
        <td>
            @Html.DisplayFor(Model => item.ImagePath)
        </td>
        
    </tr>
}

</table>
